{% block body %}
<center><h1 style="color:blue;">Expense Management System!</h1></center>
<p>Add a new expense - </p>
<form action="/v1/expenses" method="POST">
  <br><br>
  Name: <input type="text" name="name"><br><br>
  Email: <input type="text" name="email"><br><br>
  Category: <input type="text" name="category"><br><br>
  Description: <input type="text" name="description"><br><br>
  Link: <input type="text" name="link"><br><br>
  Estimated_costs: <input type="text" name="estimated_costs"><br><br>
  Submit_date: <input type="text" name="submit_date"><br><br><br>
  <input type="submit">
</form>
{% endblock %}